<h1>Мои заказы</h1>

{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <p class="card-title orange">
                            <span class="title">Заказ</span> <small>{{id}}</small>
                        </p>
                        <p class="date">{{date}}</p>
                        <p><em>{{user.name}}</em> ({{user.userId.email}})</p>

                        <ol class="order-courses">
                            {{#each courses}}
                                <li>
                                    <span>{{course.title}}</span>
                                    <strong>(x{{count}})</strong>
                                </li>
                            {{/each}}
                        </ol>

                        <hr>

                        <p>Цена: <strong class="price">{{price}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Заказов нет</p>
{{/if}}